* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50%;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00d7fe, #019cdf, #0081cf);
}

main{
    width: 50%;
    height: 50%;
    background-color: white;
}